<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  
  <link rel="stylesheet" href="./css/estiloprin.css">
  <title>Listado De Clientes</title>
</head>
<body>
    <header class="header1">
        
        <nav class="menu">
            <ul>
                <li><a href="Usuarios">Usuarios</a></li>
                <li><a href="Clientes">Clientes</a></li>
                <li><a href="Proveedores">Proveedores</a></li>
                <li><a href="Productos">Productos</a></li>
                <li><a href="Ventas">Ventas</a></li>
                <li><a href="Reportes">Reportes</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
    </header>
    <h1>Listado de Clientes</h1>
    



<table > 
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Correo Electronico</th>
            <th>Dirreccion</th>
            <th>Telefono</th>
        </tr>
    </thead>
    </table>
   




</body>
</html>






