<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/Report.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  
  <link rel="stylesheet" href="./css/estiloprin.css">
  <title>Reportes</title>
</head>
<body>
    <header class="header1">
        
        <nav class="menu">
            <ul>
                <li><a href="Usuarios">Usuarios</a></li>
                <li><a href="Clientes">Clientes</a></li>
                <li><a href="Proveedores">Proveedores</a></li>
                <li><a href="Productos">Productos</a></li>
                <li><a href="Ventas">Ventas</a></li>
                <li><a href="Reportes">Reportes</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
    </header>
    <h1>REPORTES</h1>
    <form action="" method="" class="form-register animated fadeInDown ">
        <input type="button" onclick=" location.href='ListaUsuarios' " value="Listado de Usuarios" name="boton" class="botons" /> 
        <input type="button" onclick=" location.href='ListaClientes' " value="Listado de Clientes" name="boton" class="botons" /> 
        <input type="button" onclick=" location.href='ListaVentas' " value="Ventas por Cliente" name="boton" class="botons" /> 
        

    </form>


</body>
</html>