<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./js/jquery-3.6.0.min.js"></script>
  <script src="./js/Vent.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  
  <link rel="stylesheet" href="./css/estiloprin.css">
  <title>Ventas</title>
</head>
<body>
    <header class="header1">
        
        <nav class="menu">
            <ul>
                <li><a href="Usuarios">Usuarios</a></li>
                <li><a href="Clientes">Clientes</a></li>
                <li><a href="Proveedores">Proveedores</a></li>
                <li><a href="Productos">Productos</a></li>
                <li><a href="Ventas">Ventas</a></li>
                <li><a href="Reportes">Reportes</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
    </header>
    <h1>VENTAS</h1>
    <form action="/frminsertarusu" method="POST" class="form-register animated fadeInDown ">
        <input class="forprincipal" type="text" name="" placeholder="Cedula" autofocus>
        <button class="botons1" type="submit">Consultar</button>
        <input class="forprincipal" type="text" name="" placeholder="Cliente" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Consec." autofocus>

        <input class="forprincipal" type="text" name="" placeholder="Cod.Producto" autofocus>
        <button class="botons1" type="submit">Consultar</button>
        <input class="forprincipal" type="text" name="" placeholder="Cod.Producto" autofocus>
        <button class="botons1" type="submit">Consultar</button>
        <input class="forprincipal" type="text" name="" placeholder="Cod.Producto" autofocus>
        <button class="botons1" type="submit">Consultar</button>

        <input class="forprincipal" type="text" name="" placeholder="Nombre Producto" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Nombre Producto" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Nombre Producto" autofocus>
        <input class="forprincipal1" type="text" name="" placeholder="Cant." autofocus>
        <input class="forprincipal1" type="text" name="" placeholder="Cant." autofocus>
        <input class="forprincipal1" type="text" name="" placeholder="Cant." autofocus>

        <input class="forprincipal" type="text" name="" placeholder="Vlr.Total" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Vlr.Total" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Vlr.Total" autofocus>

        <input class="forprincipal" type="text" name="" placeholder="Total Venat" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Total Iva" autofocus>
        <input class="forprincipal" type="text" name="" placeholder="Total con Iva" autofocus>

       
        <button class="botons" type="submit">Confirmar</button>
       
        
        
    </form>


</body>
</html>