<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VISTA VENDEDOR </title>
    <link rel="shortcut icon" href="img/" type="image/x-icon">
    <link rel="stylesheet" href="./css/vista.css">
    <link href = "https: //fonts.googleapis.com/css2? family = Kaisei + Decol & display = swap "rel =" stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header class="header1">
        
        <nav class="menu">
            <ul>
                <li><a href="Usuarios">Usuarios</a></li>
                <li><a href="Clientes">Clientes</a></li>
                <li><a href="Proveedores">Proveedores</a></li>
                <li><a href="Productos">Productos</a></li>
                <li><a href="Ventas">Ventas</a></li>
                <li><a href="Reportes">Reportes</a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
    
            </ul>
        </nav>
        
    </div>
    
    </header>

    <section class="sectitulo">
        <h1> Vista del Principal</h1>
    </section>
   
    
    
</body>

</html>