body {
    background: #384546;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body, html {
    height: 100%;
}

.form-box {
    width: 280px;
    padding: 80px;
    background: #232729d5;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #000000;
    
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 250px;
    border-color: #000000;
}

.form-box button[type="submit"] {
    border: 0;
    background: #9fa8bd;
    padding: 14px 40px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 1px;
    transition: 0.25s;
    cursor: pointer;
    width: 100%;
}
.form-box p {
    height: 50px;
    text-align: center;
    font-size: 17px;
    line-height: 40px;
    
}
.form-box a {
    color: rgb(255, 255, 255);
    
    
}
.form-box input[type="button"] {
    border: 0;
    background: #9fa8bd;
    padding: 14px 40px;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 1px;
    transition: 0.25s;
    cursor: pointer;
    width: 100%;
}
