* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
  background-size: cover;
}
.header1 {
  width: 100%;
  height: 80px;
  background-color: #161515;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: 'Kaisei Decol', serif;
}

.menu {
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
  text-align:right;
  padding: 25px 50px 0 0;
}
a{
  color:#fff;
  text-decoration: none;

}
li{
  display: inline;
  margin-right: 5px;
  
}
nav{
  text-align: right;
  padding: 10px 50px 0 0;
}

.sectitulo{
  
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Kaisei Decol', serif;
  
 
}

.sectitulo h1{
  font-size: 40px;
  color:rgb(0, 0, 0);
  width: auto;
  font-weight: 1000px;
  
}


